@import url("https://fonts.googleapis.com/css?family=Holtwood+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");

.App {
  position: relative;
  background-color: lightblue;
  font-family: sans-serif;
  font-family: "Abel", sans-serif;
  text-align: left;
  font-weight: bold;
  height: auto;
  min-height: 100vh;
}

h1 {
  font-family: "Holtwood One SC", serif;
  line-height: 1em;
  text-align: center;
  color: black;
}
h3 {
  color: black;
}
h2 {
  font-family: "Holtwood One SC", serif;
}
p {
  color: black;
}

.getStartedButton {
  transition-duration: 0.4s;
  height: 60px;
  width: 30%;
  font-size: 20px;
  background-color: blue;
  color: black;
  border: solid black;
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 10%;
}
.getStartedButton:hover {
  /* You want to put the css transform code in here! (below this line) :D */
  transform: scale(1.125);
  box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.Continue {
  text-align: center;
}
.Welcome {
  text-align: center;
}

/* Image code used before but now useless
img {
  width: 170px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}*/
